body{
    background-color: #428cf4;
}
#title{
    width: 175px;
    height: 15px;
    background-color: white;
    color: black;
}
#description{
    width: 175px;
    height: 15px;
    background-color: white;
    color: black;
}
#date{
    width: 110px;
    height: 15px;
    background-color: white;
    color: black;
}
#saveButton{
    width: 100px;
    height: 20px;
    background-color: white;
    color: black;
}
#loadButton{
    width: 100px;
    height: 20px;
    background-color: white;
    color: black;
}
#addButton{
    width: 100px;
    height: 20px;
    background-color: white;
    color: black;
}